<% provide(:title, "ホーム") %>
<div class="center jumbotron">
  <h1>よさぷろ</h1>

  <h2>
    よさこい用の名刺作ってみませんか？
  </h2>

  <h3>
  自分の情報を入力するだけで、オンライン交流会に便利な名刺が作れます
  </h3>

  <div class=template>
  <br>

  <p>
  <%= image_tag 'template1.png', size: "480x270", class:"template_img" %>
  <br>
  <%= link_to "テンプレート１（作ってみる）", '/form', class: "btn btn-lg btn-info w-480" %>
  </p>

  <br>
  
  <p>
  <%= image_tag 'template2.png', size: "480x270", class:"template_img" %>
  <br>
  <%= link_to "テンプレート2（作ってみる）", '/form', class: "btn btn-lg btn-info w-480" %>
  </p>

  <br>

  <p>
  <%= image_tag 'template3.png', size: "480x270", class:"template_img" %>
  <br>
  <%= link_to "テンプレート3（作ってみる）", '/form', class: "btn btn-lg btn-info w-480" %>
  </p>

  </div>

</div>