<% provide(:title, "ログイン") %>
<div class="col-md-7 col-md-offset-3">
<div class=login>
  <div class="form_login">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: 'form-control' %><br>

        <%= f.label :パスワード %>
        <%= f.password_field :password, class: 'form-control' %><br>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>ログイン状態を保存する</span>
        <% end %>

        <br>
        <%= f.submit "ログイン", class: "btn w-100" ,onfocus:"this.blur();" %>
      <% end %>

      <p><br>新規登録は<%= link_to "こちら", signup_path %>から</p>
    </div>
  </div>
  </div>
<div>