<% provide(:title, "情報入力画面") %>
<script src=”jquery.js”></script>
<script src=”garlic.js”></script>
    <div class="form jumbotron">
        <%= form_for @card, url: '/result', data: { persist: 'garlic' } do |f| %>
            
            <%= f.label :チーム名 %>
            <%= f.text_field :team, class: 'form-control', placeholder: '早稲田大学"踊り侍"' %>

            <%= f.label :名前 %>
            <%= f.text_field :name, class: 'form-control', placeholder: "山田 太郎" %>

            <%= f.label :ふりがな %>
            <%= f.text_field :kana, class: 'form-control', placeholder: "やまだ たろう" %>

            <%= f.label :よさ名 %>
            <%= f.text_field :nickname, class: 'form-control', placeholder: "よさこい大好きマン" %>

            <%= f.label :回生 %>
            <%= f.text_field :grade, class: 'form-control', placeholder: "１回生" %>
            

            <br>
            <%= f.submit :名刺を作る%>
        <% end %>
    </div>
</div>