<div class = form>
    <div class="center jumbotron">
        名前は<%= @card.name %>です
        <br>
        会社は<%= @card.company %>です
        <br>
        住所は<%= @card.address1 %>です
        <br>
        メールアドレスは<%= @card.mail %>です
        <br>
        電話番号は<%= @card.tell %>です
    </div>
    <%= image_tag 'card.png', size: "720x405" %>
</div>